<% provide(:title, 'Sign up') %>

<div class='container'>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 well">
      <h1 class='col-lg-offset-2 text-center'>Sign up</h1>
      <%= form_for @user, html: {class: "form-horizontal", role: "form"} do |f| %>
        <%= render 'fields', f: f %>
        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-8">
            <%= f.submit "Sign up", class: "btn btn-primary" %>
            - or - <%= link_to "Sign in", signin_path %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


