- provide(:title, @user.name)
= render 'cards/select_card_menu'

%ul.binder
  = render collection: @cards, partial: 'cards/sleeve'

:javascript
  new LazyLoad();

/ = react_component('Binder', {presenter: @presenter.to_json(except: %w(_id _slugs artist card_set_id cmc flavor multiverseid subtypes supertypes text type user_ids variations colors))}, {prerender: true})
