<h1 class='text-center'><%= link_to 'Sign up', signup_path %> for cardbinder!</h1>
<p>
  Keep track of your cards by <%= link_to 'signing up', signup_path %>, and adding some to your binder...
</p>
<p>
  Or not! Feel free to browse the beautiful cards of Wizard's Magic: The Gathering. <strong>Every</strong> Core and Expansion set is here. Use the menu at the top of the screen to select the set you'd like to see, then filter to your heart's content.
</p>
