<div class='col-lg-offset-2'>
  <h1 class='text-center'><%= link_to 'Sign up', signup_path %> for cardbinder!</h1>
  <p>
    Keep track of your cards by <%= link_to 'signing up', signup_path %>, and adding some to your binder...
  </p>
</div>