// keeps footer stuck to bottom
html, body {
  height: 100%;
  .wrapper {
    min-height: 100%;
    padding-top: 20px;
  }
  header {
    // margin-top: 20px;
  }
  footer {
    margin: -72px auto 0 auto;
  }
  .content {
    padding-bottom: 90px;
  }
}

body {
  background: url("https://cardbinder.s3.amazonaws.com/imgs/big_five.jpg") 50% 0% fixed;
  .well {
    background-color: rgba(245,245,245,0.7);
    border: 1px solid rgba(227,227,227,0.7);
  }
}

.debug_dump {
  position: absolute;
  bottom: 82px;
  float: left;
  display: none;
}